<div class="container pe-0">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion text-white" id="accordionSidebar"
        style="background-color: #4E73DF;min-height: 2000px;">

        <a class="sidebar-brand d-flex align-items-center justify-content-start text-decoration-none"
            routerLink="/admin">
            <h2 class="sidebar-brand-text mx-3 text-white">Fashion shop Admin </h2>
        </a>
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active ps-3 ">
            <a class="nav-link" routerLink="/admin/dashboard">
                <span>Dashboard</span></a>
        </li>
        <li class="nav-item ps-3">
            <a class="nav-link" routerLink="/admin/products">
                <span>Products</span></a>
        </li>
        <li class="nav-item ps-3">
            <a class="nav-link" routerLink="/admin/users">
                <span>Users</span></a>
        </li>
        <li class="nav-item ps-3">
            <a class="nav-link" routerLink="/admin/orders">
                <span>Orders</span></a>
        </li>
        <li class="nav-item ps-3">
            <a class="nav-link" routerLink="/admin/categories">
                <span>Categories</span></a>
        </li>



    </ul>
</div>