.discounted-price {
    font-size: 20px;
    color: #000000; /* Set your desired color for the discounted price */
    font-weight: bold; /* Make the discounted price bold */
}

del {
    color: #868e96; /* Set your desired color for the strikethrough text */
    margin-right: 5px; /* Add some spacing between the original and discounted prices */
}